<div class="row justify-content-center">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Bienvenido a Ventas</h5>    
            </div>
            <div class="card-body">
               <div class="row">
                 <div class="col">
                   <h5 class="card-title">Ingreso al Sitio</h5>
                 </div>
                </div>
               <div class="row">
                 <div class="col">
                   <div class="input-group mb-3">
                     <span class="input-group-text" id="basic-addon1"><i class="fas fa-user-alt"></i></span>
                     <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                   </div>                   
                 </div>
                </div>
               <div class="row">
                 <div class="col">
                   <div class="input-group mb-3">
                     <span class="input-group-text" id="basic-addon1"><i class="fas fa-key"></i></span>
                     <input type="password" class="form-control" placeholder="Password" aria-label="Username" aria-describedby="basic-addon1">
                   </div>                   
                   
                 </div>
                </div>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>